.about {
  @include breakpoint-up(tablet) {
    display: flex;
    height: 16.625rem;
  }

  &__img-left {
    background-image: url(/images/image-about-dark.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 14.875rem;
    width: 100%;

    @include breakpoint-up(tablet) {
      background-size: cover;
      height: 100%;
      flex: 0 1 auto;
    }

    @include breakpoint-up(large-screen) {
      background-size: cover;
      height: 100%;
      min-width: 26.25rem;
      flex: 0 1 auto;
    }
  }

  &__text {
    text-align: left;
    align-content: center;
    padding: 3.375rem 2rem 2.75rem;
    margin: 0;

    @include breakpoint-up(tablet) {
      width: 125%;
      padding: 0 1rem;
      font-size: 0.75rem;
    }
  }

  &__title {
    font-size: 0.9375rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.3125rem;
    margin-bottom: 1.625rem;

    @include breakpoint-up(tablet) {
      font-size: 0.875rem;
      margin-top: 0;
      margin-bottom: 0.5rem;
    }
  }

  &__description {
    font-size: 1rem;
    color: $darkGray;
    line-height: 1.375rem;
  }

  &__img-right {
    background-image: url(/images/image-about-light.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 14.1875rem;
    width: 100%;

    @include breakpoint-up(tablet) {
      background-size: cover;
      height: 100%;
      flex: 0 1 auto;
    }

    @include breakpoint-up(large-screen) {
      background-size: cover;
      height: 100%;
      min-width: 27.5rem;
      flex: 0 1 auto;
    }
  }
}
