html {
  font-size: 100%;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "League Spartan", sans-serif;
}

button {
  display: inline-block;
  background-color: $black;
  color: $white;
  border: none;
  height: 56px;
  width: 56px;
  padding: 0;
  margin: 0;

  &:hover {
    cursor: pointer;
    background-color: $veryDarkGray;
  }

  @include breakpoint-up(tablet) {
    height: 80px;
    width: 80px;
  }
}

// Visibility

.hide-for-mobile {
  @include breakpoint-down(desktop) {
    display: none;
  }
}

.hide-for-desktop {
  @include breakpoint-up(desktop) {
    display: none;
  }
}
