html {
  font-size: 100%;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "League Spartan", sans-serif;
  overflow-x: hidden;
}

button {
  display: inline-block;
  border: none;
  padding: 0;
  margin: 0;

  &.arrow {
    height: 3.5rem;
    width: 3.5rem;
    background-color: $black;
    color: $white;
    transition: color 200ms ease-in-out;

    img {
      height: 1.125rem;
    }

    &:hover {
      cursor: pointer;
      background-color: $veryDarkGray;
      transition: 200ms ease-in-out;
    }

    @include breakpoint-up(desktop) {
      height: 5rem;
      width: 5rem;

      img {
        height: 1.5625rem;
      }
    }
  }

  &.shop {
    background-color: transparent;
    color: black;
    text-transform: uppercase;
    transition: 200ms ease-in-out;
    img {
      width: 2.5rem;
      transition: 200ms ease-in-out;
    }

    &:hover {
      cursor: pointer;
      color: $darkGray;
      transition: 200ms ease-in-out;
      svg path {
        fill: $darkGray;
        transition: 200ms ease-in-out;
      }
    }
  }
}

// Visibility

.hide-for-mobile {
  @include breakpoint-down(desktop) {
    display: none;
  }
}

.hide-for-desktop {
  @include breakpoint-up(desktop) {
    display: none;
  }
}

.open {
  visibility: visible;
  opacity: 1;
  display: block;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}
