.header {
  background-color: transparent;
  //position: relative;

  a {
    color: $white;
    text-decoration: none;
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    max-width: 50%;
    padding: 47px;

    @include breakpoint-up(desktop) {
      padding: 64px;
      justify-content: left;
    }
  }

  &__hamburger {
    img {
      height: 1rem;
      //margin-left: 47px;
    }
  }

  &__logo {
    //display: flex;
    //justify-items: center;
    //align-items: center;

    img {
      //justify-content: center;
      height: 1rem;
      //width: 64px;
    }
  }

  &__links {
    margin-left: 57px;
    font-size: 1rem;

    a {
      position: relative;
      &:not(:last-child) {
        margin-right: 34px;
      }

      &::before {
        content: " ";
        position: absolute;
        display: block;
        height: 2px;
        width: 1rem;
        background-color: $white;
        opacity: 0;
        left: 0;
        right: 0;
        bottom: -12px;
        justify-self: center;
        transition: 200ms ease-in-out;
      }

      &:hover {
        &::before {
          opacity: 1;
          transition: 200ms ease-in-out;
        }
      }
    }
  }
}
