.header {
  position: absolute;
  background-color: transparent;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;

  a {
    color: $white;
    text-decoration: none;
  }

  &__nav {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    padding: 47px;

    @include breakpoint-up(desktop) {
      padding: 64px;
      justify-content: left;
    }
  }

  &__hamburger {
    position: absolute;
    background-color: transparent;
    left: 20px;
    img {
      height: 1rem;
      &:hover {
        cursor: pointer;
      }
    }

    &:hover {
      cursor: pointer;
    }
  }

  &__logo {
    display: flex;
    justify-content: center;

    img {
      height: 1rem;
    }
  }

  &__links {
    margin-left: 57px;
    font-size: 1rem;

    a {
      position: relative;
      &:not(:last-child) {
        margin-right: 34px;
      }

      &::before {
        content: " ";
        position: absolute;
        display: block;
        height: 2px;
        width: 1rem;
        background-color: $white;
        opacity: 0;
        left: 0;
        right: 0;
        bottom: -12px;
        justify-self: center;
        transition: 200ms ease-in-out;
      }

      &:hover {
        &::before {
          opacity: 1;
          transition: 200ms ease-in-out;
        }
      }
    }
  }

  .overlay {
    position: fixed;
    background-color: rgba($color: $black, $alpha: 0.75);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;

    &__items {
      position: relative;
      justify-self: center;
      width: 70%;
      background-color: white;
      border-radius: 5px;
      top: 44px;
    }

    &__button {
      position: absolute;
      background-color: transparent;
      top: 10px;
      right: 10px;

      &:hover {
        cursor: pointer;
      }
    }

    &__mobile-menu {
      justify-items: center;
      padding: 30px;

      a {
        display: block;
        background: $white;
        color: $black;
        width: 100%;
        padding: 18px;
        text-align: center;
      }
    }
  }
}
