.header {
  position: absolute;
  background-color: transparent;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;

  a {
    color: $white;
    text-decoration: none;
  }

  &__nav {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    padding: 2.9375rem;

    @include breakpoint-up(desktop) {
      padding: 4rem;
      justify-content: left;
    }
  }

  &__hamburger {
    position: absolute;
    background-color: transparent;
    left: 1.25rem;
    img {
      height: 1rem;
      &:hover {
        cursor: pointer;
      }
    }

    &:hover {
      cursor: pointer;
    }
  }

  &__logo {
    display: flex;
    justify-content: center;

    img {
      height: 0.875rem;
    }
  }

  &__links {
    margin-left: 3.5rem;
    font-size: 0.9375rem;
    font-weight: 600;

    a {
      position: relative;
      top: -0.0625rem;

      &:not(:last-child) {
        margin-right: 1.75rem;
      }

      &::before {
        content: " ";
        position: absolute;
        display: block;
        height: 0.125rem;
        width: 1rem;
        background-color: $white;
        opacity: 0;
        left: 0;
        right: 0;
        bottom: -0.75rem;
        justify-self: center;
        transition: 200ms ease-in-out;
      }

      &:hover {
        &::before {
          opacity: 1;
          transition: 200ms ease-in-out;
        }
      }
    }
  }

  .overlay {
    position: fixed;
    background-color: rgba($color: $black, $alpha: 0.75);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;

    &__items {
      position: relative;
      justify-self: center;
      width: 70%;
      background-color: white;
      border-radius: 0.3125rem;
      top: 2.75rem;
    }

    &__button {
      position: absolute;
      background-color: transparent;
      top: 0.625rem;
      right: 0.625rem;

      &:hover {
        cursor: pointer;
      }
    }

    &__mobile-menu {
      justify-items: center;
      padding: 1.875rem;

      a {
        display: block;
        background: $white;
        color: $black;
        width: 100%;
        padding: 1.125rem;
        text-align: center;
      }
    }
  }
}
