.hero {
  position: relative;
  top: 0;

  @include breakpoint-up(desktop) {
    display: flex;
    height: 33.375rem;
  }

  &__image {
    display: flex;
    object-fit: cover;
    height: 22.5rem;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    justify-content: end;

    @include breakpoint-up(tablet) {
      height: 33.9375rem;
    }

    @include breakpoint-up(desktop) {
      display: flex;
      object-fit: cover;
      height: 100%;
      max-width: 33.375rem;
      flex: 1 0 auto;
    }

    @include breakpoint-up(large-screen) {
      display: flex;
      background-size: 100%;
      height: 100%;
      min-width: 52.5rem;
      flex: 1 0 auto;
    }
  }

  &__arrow-buttons {
    display: flex;
    justify-content: end;
    transform: translate(0%, -100%);
    z-index: 1;

    @include breakpoint-up(desktop) {
      position: absolute;
      transform: translate(333%, 567.5%);
    }

    @include breakpoint-up(large-screen) {
      transform: translate(525%, 567.5%);
    }
  }

  &__text {
    position: relative;
    padding: 0 1.6875rem;
    margin: 0;
    align-content: center;

    h1 {
      font-size: 2.25rem;
      margin-bottom: 1.6875rem;
      margin-top: 0;
      font-weight: 600;
      letter-spacing: -0.128rem;
    }

    p {
      font-size: 1rem;
      color: $darkGray;
      line-height: 1.375rem;
      margin-bottom: 2.875rem;
      margin-top: 0;
      letter-spacing: -0.0118rem;
    }

    @include breakpoint-up(desktop) {
      // padding: 5.875rem;
      padding-left: 6.25rem;
      padding-right: 5.625rem;
      flex: 1 2 auto;
      h1 {
        font-size: 2.5rem;
        line-height: 2.8125rem;
        margin-top: 0;
        margin-bottom: 0;
      }

      p {
        margin-bottom: 1rem;
        margin-top: 1.4375rem;
      }
    }

    @include breakpoint-up(large-screen) {
      h1 {
        font-size: 3rem;
      }
    }
  }

  &__shop-button {
    margin-bottom: 4.75rem;
    font-size: 0.9375rem;
    font-weight: 600;
    font-family: "League Spartan";
    letter-spacing: 0.78rem;

    svg {
      position: relative;
      top: 0.125rem;
      margin-left: 0.3125rem;
    }

    @include breakpoint-up(desktop) {
      margin-bottom: 2.125rem;
      margin-top: 0.375rem;
    }
  }
}
